.features {
  margin-top: 4rem;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feature {
  text-align: center;
  padding: 0 1rem;
}

.feature > p {
  padding: 1rem 0;
}

.feature > img {
  width: 100%;
  border-radius: 20px;
  max-width: 450px;
  aspect-ratio: 2/3;
  object-fit: cover;
}

.feature-title {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .features-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
